<h1><%= @wiki.title %></h1>
<p><%= @wiki.body %></p>

<% if current_user.premium? || current_user.admin? %>
<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>
<%= link_to "Delete Post", @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
  